<html>
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
    </style>
  </head>
  <body>
    <form action="/answer">
      <h1>Stupit Coaching</h1>
      <p>Ask your coach anything</p>
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </form>
  </body>
</html>
