// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    font-family: roboto;
    font-size: 40px;
    margin-bottom: 5px;
}
p {
    font-family: roboto;
    font-size: 12px;
    margin-top: 10px;
}
input[type="text" i]{
    padding: 10px;
}
input[type="submit" i] {
    background-color: rgb(0, 88, 139);
    padding: 13px;
    border-radius: 10%;
    border: 3px;
}